
<div class="container">
    <h1>Features which can be added</h1>
    <div class="row">
        <p>Those are for example city coordinates lookup. It lets you enter a city name and returns the corresponding coordinates.</p>
        <p>Also an interesting idea is cascading multiple images to get a bigger view. But this requires high precision coordinate computation.</p>
        <p>One could check the cloudiness value and search for the closest non-cloudy image in time. Must be optional.</p>
        <p>And of course it would be nice if your current position could be looked up.</p>
        <p>But first, correct date computation must be implemented. February has only ~28 days.
    </div>
</div>
