/* app css stylesheet */

body {
    padding-top: 50px;
    color: #fff;
    background: none;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}
.full {
    background: url('../background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
input, select, textarea {
    color: #fff;
    background-color: #333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}

.dp {
    color: #333;
    background-color: #fff;
}
