<div class="container">
    <h1>Input Coordinates</h1>
    <div class="row">
        <p>Input the coordinates (longitude, latitude) and the approximate date of the location you want to see from space.</p>
    </div>
    <div class="row"></div>
    <div>
        <form ng-submit="show_earth_at(longitude, latitude, date)">
            <div class="row">
                <div class="col-md-1">
                    <p>Longitude</p>
                    <p>Latitude</p>
                </div>
                <div class="col-md-3">
                    <p><input ng-model="longitude"></p>
                    <p><input ng-model="latitude"></p>
                </div>
            </div>
            <div class="row">
                <p>Pick a date</p>
                <p><input type="text" class="date_picker" tabindex="400" value="wurst" ng-model="date"/></p>
            </div>
            <div class="row">
                <p><input type="submit" value="Watch from space" class="btn btn-primary"/></p>
            </div>
        </form>
    </div>
</div>
