<div class="container-fluid">
    <div class="row">
        Please input longitude and latitude:
    </div>
    <div class="row">
        <form ng-submit="show_earth_at(longitude, latitude)">
            <div class="col-md-2">
                Longitude: <input ng-model="longitude">
                Latitude: <input ng-model="latitude">

            </div>
            <div class="col-md-3">
                Year:
                <select ng-model="year">
                    <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
                </select>
                Month:
                <select ng-model="month">
                    <option ng-repeat="m in months" value="{{m}}">{{m}}</option>
                </select>
                Day:
                <select ng-model="day">
                    <option ng-repeat="d in days" value="{{d}}">{{d}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="submit" value="Watch from space" />
            </div>
        </form>
    </div>
</div>
